<section class="mx-1 my-4 grid grid-cols-6 grid-rows-2 gap-1 relative lg:grid-cols-5 lg:grid-rows-1">
    <span id="sponsors" class="absolute -top-12"></span>
    <div class="col-span-2 h-24 w-full p-2 lg:col-span-1">
        <img class="h-full w-full object-contain grayscale dark:grayscale-0" src="{{ asset('images/branding/Breda_Game_City_Black.webp') }}" alt="">
    </div>
    <div class="col-span-2 h-24 w-full p-2 lg:col-span-1">
        <img class="h-full w-full object-contain grayscale dark:grayscale-0" src="{{ asset('images/branding/EpicGames_Black_Knockout_RGB.webp') }}" alt="">
    </div>
    <div class="col-span-2 h-24 w-full p-2 lg:col-span-1">
        <img class="h-full w-full object-contain grayscale dark:grayscale-0" src="{{ asset('images/branding/UE_Logo_stacked_unreal-engine_black.webp') }}"
             alt="">
    </div>

    <div class="col-span-3 h-24 w-full p-2 lg:col-span-1">
        <img class="h-full w-full object-contain grayscale dark:grayscale-0" src="{{ asset('images/branding/BUas_Logo_Color_250x100.webp') }}" alt="">
    </div>
    <div class="col-span-3 h-24 w-full p-2 lg:col-span-1">
        <img class="h-full w-full object-contain grayscale dark:grayscale-0" src="{{ asset('images/branding/SideFX_Houdini_Logo.webp') }}" alt="">
    </div>
</section>